<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Tic Tac Toe</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Past Games", games_path %></li>
            <li><%= link_to "New Game", new_game_path %></li>
          </ul>

        </div>
      </div>
    </div>